body {
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    background: darkcyan;
    display: flex;
    flex-direction: row;
    padding: 80px 20px 80px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.right_side, .left_side {
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
}

.item {
    width: 90%;
    height: auto;
    background: white;
    padding: 30px 30px 30px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    border-radius: 16px;
}

img {
    width: 40px;
    height: 40px;
}

h3 {
    font-size: 20px;
    color: darkorange;
    margin: 0;
}

.inner_content {
    display: flex;
    flex-direction: column;
}

p {
    line-height: 20px;
}

