.main_container {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: auto;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.top_container {
    background: aquamarine;
    width: 90%;
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.middle_container {
    display: flex;
    height: auto;
    margin-bottom: 20px;
    column-gap: 20px;
    width: 90%;
}

.inner_box {
    height: 240px;
    width: 32.3%;
    background: darkseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_container {
    background: darkgreen;
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}


